.ss{
    overflow-y: scroll;
    scrollbar-color: red yellow;
    --thumbBG: #09a6f5;

}

 .ss::-webkit-scrollbar {
    width: 11px;
  }
 .ss {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
 .ss::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
 .ss::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
  
  
  
 .ss {
    height: 100vh;
   
    overflow-y: auto;
   
    margin: 0 auto;
   
   
   
  }
.hh{
    overflow-x: scroll;
    scrollbar-color: red yellow;
    --thumbBG: #09a6f5;

}

 .hh::-webkit-scrollbar {
    width: 11px;
  }
 .hh {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
 .hh::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
 .hh::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
  
  
  
 .hh {
    height: 100vh;
   
    overflow-y: auto;
   
    margin: 0 auto;
   
   
   
  }

  